# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
build/
dist/

# Test binary, built with `go test -c`
*.test

.coverage*
coverage.*

cmd/__debug_bin
./release/
test-artifacts/
result.json
*report.json
__debug_bin
resources/bulk
resources/prod.yaml

.vscode/
.idea/
gosec.json
resources/local.yaml
resources/application-local.yaml
*local.yaml
.DS_Store
scratchpad/
# Dependency directories (remove the comment below to include it)
# vendor/
